
    h1 { color: black; 
        font-size: 45px;}

    h3 { font-size: 25px;}

    h4 { font-size: 21px;}

    p  { font-size: 19px;}

    li { font-size: 18px;}

    h3,h4,p,li{
        color: darkslategray
    }    